* {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas: 
    "header header"
    "sidebar content"
  ;
  height: 100vh;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  overflow-y: auto;
}
