body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-color: rgb(255, 68, 68);
  --site-color: #FFF;
  --active-color: #EF3F37;
  --first-color: ;
  --second-color: #FDE8E7;
  --thirf-color: ;

  --gray-color: rgb(197, 197, 197);
  --purple-color: #9D2587;
  --green-color: #008000;
  --orange-color: #FF5900;

  --text-second-color: #838383;
}